<configuration>
     <system.webServer>
          <rewrite>
               <rules>
                    <rule name="Catalog" stopProcessing="true">
                         <match url="catalog" />
                         <action type="Rewrite" url="catalog.html" />
                    </rule>
                    <rule name="About" stopProcessing="true">
                         <match url="about" />
                         <action type="Rewrite" url="about.html" />
                    </rule>
               </rules>
          </rewrite>
     </system.webServer>
</configuration>