<configuration>
     <system.webServer>
          <rewrite>
               <rules>
                    <rule name="Orderflow" stopProcessing="true">
                         <match url="catalog" />
                         <action type="Rewrite" url="orderflow.html" />
                    </rule>
               </rules>
          </rewrite>
     </system.webServer>
</configuration>